*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

p {
    font-family: "Segoe UI";
}

.hm_text_2{
    text-align: right;
}

.about_vase_image{
    transform: scaleX(-1);
    float: right;
    width: 420px;
    height: 564px;
}

.about_flower_image{
    width: 240px;
    height: 322px;
}

.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
    row-gap: 70px;
}
.product_image{
    width: 275px;
    height: 240px;
}
.hr_product{
    width: 30%;
    border: 2px solid black;
}
.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.home{
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    width: 1200px;
    height: 520px;
    font-family: 'Segoe UI';
    font-size: 2.8rem;
    color: white;
    
}